.content-text__title {
  width: 100%;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  /* estilos para smartphones */

  .content-text__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 9px;
  }
}