.cover {
  height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  /* estilos para smartphones */

  .cover {
    height: 254px;
    padding: 64px 0;
  }
}